<div class='component-content'>
  <div class='lefthalf'>
    <span class='component-title'>[{{title}}] </span>
    <span><a routerLink='/request/review/{{request.id}}'>Back to list</a></span>
    <!-- <span *ngIf='loggedInUser.admin'><a routerLink='/request/create'> -->
    <!-- <span><a routerLink='/request/list'>Back to list</a></span>
          <span *ngIf = 'request'><a routerLink='/request-line/create/{{request.id}}'>
              <img id='createnew' width='20' height='20' src='assets/add-icon.png' title='Add New'></a>
          </span> -->
  </div>
</div>
<p *ngIf='!request'>Loading ...</p>
<table class="table table-sm" *ngIf='request'>
  <tr>
    <th class='table-secondary'></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
        (click)="sortBy('description')"><u>Description</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
        (click)="sortBy('justification')"><u>Justification</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
        (click)="sortBy('status')"><u>Status</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
        (click)="sortBy('deliveryMode')"><u>Delivery Mode</u></a></th>
    <th class="table-secondary btn-link"><a class="btn btn-link font-weight-bold"
        (click)="sortBy('total')"><u>Total</u></a></th>
    <!-- <th class="table-secondary btn-link"><a class='btn btn-link font-weight-bold'>Action</a></th> -->
  </tr>
  <tr>
    <td></td>
    <td>{{request.description}}</td>
    <td>{{request.justification}}</td>
    <!-- <td>{{request.rejectionReason }}</td> -->
    <td>{{request.status}}</td>
    <td>{{request.deliveryMode}}</td>
    <td>{{request.total | currency}}</td>
  </tr>
</table>
<table class='table table-sm' *ngIf="request">
  <tr>
    <th>Product</th>
    <th>Quantity</th>
    <th>Price</th>
    <th>Line Total</th>
  </tr>
  <tr *ngFor="let rl of request.requestLines">
    <td>{{rl.product.name}}</td>
    <td>{{rl.quantity}}</td>
    <td>{{rl.product.price | currency}}</td>
    <td>{{rl.product.price * rl.quantity | currency}}</td>

    <td class='actions'>

    </td>
  </tr>
</table>
<!-- <table>
  <tr>
    <button (click)='approve()' class='btn-primary' width='20' height='20' title='Approve'>Approve</button>
  </tr>
</table> -->
<!-- <table>

  <div class="form-group row">
    <label class='col-form-label col-sm-2' for="rejectionReason"></label>
    <input name='Rejection Reason' type="text" class="form-control col-sm-20" id="Rejection Reason"
     placeholder="Rejection Reason">
    
  </div>
  <tr></tr>
  <tr>
    <button (click)='reject()' class='btn btn-danger' width='20' height='20' title='Reject'>Reject</button>
  </tr>

</table> -->
<div>

  <table>
    <tr>
      <td><button (click)="approve()" class="btn-primary">Approve</button></td>
      <td><button (click)="RejectReason()" class="btn btn-danger" [disabled]="isRejected">Reject</button></td>
      <td>
    </tr>
  </table>
</div>
<div>

  <table>
    <tr>
      <td>
        <span *ngIf="isRejected">
          <span> | </span>
          <input [(ngModel)]="request.rejectionReason" size="50" placeholder="Rejection Reason">
          <span> | </span>
          <button (click)="reject()" class="btn btn-danger">Reject</button>
        </span>
      </td>
    </tr>
  </table>
</div>